<div class='container'>
    <div class='row'>
        <div class='col-md-3 col-md-offset-3'>
            <h2>Hello, I am Kyle!</h2>
            <img src='/app/images/arrow.png' style='height: 200px;margin-top:-40px;' />
        </div>
        <div class='col-md-2'>
            <img src="/app/images/me.jpg" class='thumbnail' style='height: 200px;'/>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-6 col-md-offset-3'>
            <h2 style='padding-left:15px;'>Husband. Father. Problem Solver.</h2>
        </div>
    </div>
</div>