<div class="container">
    
  <div class="row">
      <div class='col-md-4 col-md-offset-3'>
        <h1 style='color:#F4943D;'><i class='glyphicon glyphicon-heart-empty'></i> My Passions</h1>    
      </div>
  </div>
    
  <div class="row">
      <div class='col-md-4 col-md-offset-3'>
          <h3 style='color:#0392CC;'><i class='glyphicon glyphicon-eye-open'></i> Beautiful Applications</h3>
          <p>
              The best applications, the ones we love to use, are not just bug free. 
              They are gorgous! As developers, we have a responsibility to forge an 
              experience that amazes people.

          </p>
      </div>
  </div>
    
  <div class="row">
      <div class='col-md-4 col-md-offset-5'>
          <h3 style='color:#0392CC;'><i class='glyphicon glyphicon-time'></i> Performance</h3>
          <p>
              One major aspect of user experience is application performance.
              If an application works perfectly, but is slow users will reject
              the application. Therfor, its is imporant to maximize performance
              by being asyncronus and non-blocking.

          </p>
      </div>
  </div>
    
  <div class="row">
      <div class='col-md-4 col-md-offset-3'>
          <h3 style='color:#0392CC;'><i class='glyphicon glyphicon-export'></i> Scaleability</h3>
          <p>
              As an applications user base and data grows, so does the need for it to
              scale. This, however, is not an easy task. It takes effort at all layers of
              the tech stack.  Every piece of the puzzle tweaked, tuned, and cahced.

          </p>
      </div>
  </div>
    
  <div class="row">
      <div class='col-md-4 col-md-offset-5'>
          <h3 style='color:#0392CC;'><i class='glyphicon glyphicon-erase'></i> Clean Code</h3>
          <p>
              I am a big fan of clean code. I believe in things like DRY, reusable
              code. I love patterns like MVC that helps us structure spaghetti into
              lasagna.

          </p>
      </div>
  </div>
    
</div>